/* log in */
.login-form {
    background: #333333; 
    padding: 40px;
    max-width: 300px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px #272727;
    text-align: center;
}

.login-form h1{
    color: #ffffff;
    font-size: 20px;
}

.login-input {
    margin: 40px auto;
}

.login-input form input{
    width: 250px;;
    height: 30px;
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    color: #333333;
    font-size: 14px;
}

.login-input form button{
    width: 250px;;
    height: 30px;
    padding: 5px 5px;
    margin: 20px 0px;
    background-color: #33cc33;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
}

/* sign up */
.signup-form {
    background: #333333; 
    padding: 40px;
    max-width: 300px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px #272727;
    text-align: center;
}

.signup-form h1{
    color: #ffffff;
    font-size: 20px;
}

.signup-input {
    margin: 40px auto;
}

.signup-input form input{
    width: 250px;;
    height: 30px;
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    color: #333333;
    font-size: 14px;
}

.signup-input form button{
    width: 250px;;
    height: 30px;
    padding: 5px 5px;
    margin: 20px 0px;
    background-color: #33cc33;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
}